.container{
	width: 500px;
	margin: 0 auto;
}
.heading{
	margin-bottom: 10px;
}
.title{

}
.scores-container{

}
.score-container{

}
.best-container{

}
.above-game{

}
.game-intro{

}
.restart-button{
	
}
.grid-container{

}
.grid-row{

}
.grid-cell{
	
}